.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App h1{
  color: rgb(39, 39, 204);
}

.app_form{
  display: flex;
  flex-direction: column;
}
