body{
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
}

.site{
    width: 100vw;
}
//--------------------------HEADER---------------------------->
.header{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right top, #55b8ff96 16.9%, #7e5affb0 83.27%),
    url("./assets/imgs/backgroundimageOne.png");

    &__nav{
        height: 150px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        & ul{
            width: 40%;
            display: flex;
            justify-content: space-between;
            list-style: none;
            
            & li, a{
                font-family: 'Source Sans Pro';
                font-style: normal;
                text-decoration: none;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #FFFFFF;
            }

           & li:hover{
               cursor: pointer;
               opacity: 0.1;
            }
        }

        & div{
            width: 10%;
            display: flex;
            justify-content: space-between;

            & img:hover{
                background-color: #9377f8c0;
                border-radius: 50%;
            }
        }
    }

    &__name{
        display: flex;
        flex-direction: column;
        align-items: center;


    & h1{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }

    & p{
        margin-top: -40px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.3em;
        color: #FFFFFF;
        
    }}

    &__arrow{
        margin-bottom: 50px;
    }
}
//--------------------------FIRST SECTION---------------------------->
.section__projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__name{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;

        & h2{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 44px;
            line-height: 54px;
            letter-spacing: 0.1em;
            color: #2C4058;;
        }
    }

    &__firs_box{
        width: 70%;
        display: flex;

        &_img{
            width: 55%;

            & img:first-child{
                z-index: 3;
            }

            & .blue{
                z-index: -1;
                position: absolute;  
                width: 530px;
                height: 370px;           
                left: 0px;
                top: 750px;
            }
        }

        &_text{
            width: 45%;
            height: 470px;
            padding: 0% 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            font-family: 'Montserrat';
            font-style: normal;
            color: #2C4058;

            & h3{
                margin: 0%;
                font-weight: 400;
                font-size: 22px;
                line-height: 27px;
            }
            & h4{
                margin: 0%;
                font-weight: 700;
                font-size: 44px;
                line-height: 54px;
            }
            & p{
                font-family: 'Open Sans';
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
            }

            & button{
                width: 190px;
                height: 50px;
                border: 1px solid #2C4058;
                background-color: transparent; 
                
                font-size: 14px;
                line-height: 17px;
                color: #000000;
            }

            & button:hover{
                cursor: pointer;
                background-color: #d2e5f379;
                border: 1px solid #55B7FF;
                color: #55B7FF;
            }

            &_location{
                height: 40px;
                margin-top: 20px;
                display: flex;
                align-items: center;

                font-family: 'Open Sans';
                font-style: italic;
                font-weight: 400;
                font-size: 15px;
                line-height: 20px;
                color: #000000;

                & span{

                     font-variation-settings:
                     'FILL' 1,
                     'wght' 400,
                     'GRAD' 0,
                     'opsz' 48

                }

            }
        }


    }

    &__second_box{
        width: 70%;
        display: flex;
        flex-direction: row-reverse;

        &_img{
            width: 55%;

            & img:first-child{
                z-index: 3;
            }

            & .purple{
                z-index: -1;
                position: absolute;  
                width: 530px;
                height: 370px;           
                right: 0px;
                top: 1220px;
            }
        }

        &_text{
            width: 45%;
            height: 470px;
            padding: 0% 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            font-family: 'Montserrat';
            font-style: normal;
            color: #2C4058;

            & h3{
                margin: 0%;
                font-weight: 400;
                font-size: 22px;
                line-height: 27px;
            }
            & h4{
                margin: 0%;
                font-weight: 700;
                font-size: 40px;
                line-height: 54px;
            }
            & p{
                font-family: 'Open Sans';
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
            }

            & button{
                width: 190px;
                height: 50px;
                border: 1px solid #2C4058;
                background-color: transparent; 
                
                font-size: 14px;
                line-height: 17px;
                color: #000000;
            }
            & button:hover{
                cursor: pointer;
                background-color: #c7baf999;
                border: 1px solid #7E5AFF;
                color: #7E5AFF;
            }

            &_location{
                height: 40px;
                margin-top: 20px;
                display: flex;
                align-items: center;

                font-family: 'Open Sans';
                font-style: italic;
                font-weight: 400;
                font-size: 15px;
                line-height: 20px;
                color: #000000;

                & span{
                     font-variation-settings:
                     'FILL' 1,
                     'wght' 400,
                     'GRAD' 0,
                     'opsz' 48
                }

            }
        }

    }
}

//--------------------------SECOND SECTION---------------------------->
.section__news{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to right top, #3c7fd4 11.16%, #24ccfa 89.18%),
    url("./assets/imgs/backgroundimageOne.png");

    &__name{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;

        & hr{
            width: 100px;
            border: 1px solid #FFFFFF;
        }

        & h2{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 44px;
            line-height: 54px;
            letter-spacing: 0.1em;
            color: #FFFFFF;
        }
    }

    &__boxes{
        display: flex;
        justify-content: space-around;

        &_box {
            width: 25%;
            background-color: #FFFFFF;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
        }
         
        & .content{
            padding: 0 20px;
            & h3{
                font-weight: 700;
                font-size: 22px;
                line-height: 27px;
                color: #2C4058;
            }
            & p{
                font-family: 'Open Sans';
                font-size: 18px;
                line-height: 25px;
                color: #2C4058;
            } 
        }

        & .response{
            height: 70px;
            padding: 10px 20px;
            display: flex;
            align-items: center;

            & img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }

            & div{
                margin-left: 20px;
                & h4{
                    margin: 0%;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    color: #2C4058;
                }
                & p{
                    margin: 0%;
                    font-size: 14px;
                    line-height: 17px;
                    color: #55B7FF;;
                }
            }
        }
    }

}

//--------------------------THIRD SECTION---------------------------->

.section__gallery{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    &__name{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;

        & h2{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 44px;
            line-height: 54px;
            letter-spacing: 0.1em;
            color: #2C4058;;
        }
    }

    &__box{
        width: 79%;
        display: flex;
        gap: 5px;

        & div:nth-child(2){
            & img{
                margin: 2px;
            }
        }
    }

    & button{
        width: 190px;
        height: 50px;
        border: 1px solid #2C4058;
        background-color: transparent; 
        
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }

    & button:hover{
        cursor: pointer;
        background-color: #5e75926f;
        border: 1px solid #2C4058;
        color: #2C4058;
    }

}
//--------------------------FOOTER---------------------------->
.footer{
    display: flex;
    flex-direction: column;

    &__map{
        width: 100%;
        height: 600px;
        margin-top: 50px;

    }

    &__contacts{
        position: absolute;
        left: 415px;
        top: 3642px;
        width: 750px;
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: #FFFFFF;

        &__name{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
    
            & h2{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 44px;
                line-height: 54px;
                letter-spacing: 0.1em;
                color: #2C4058;;
            }
        }

        &_container{
            width: 100%;
            display: flex;

            & ul{
                padding: 0% 5% 0% 10%;
                width: 50%;
                list-style: none;

                & li{
                    height: 50px;
                    display: flex;
                    align-items: center;

                    font-family: 'Montserrat';
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;

                    & span{
                        margin-right: 15px;
                        color: #7E5AFF;
                        
                     font-variation-settings:
                     'FILL' 1,
                     'wght' 400,
                     'GRAD' 0,
                     'opsz' 48;
                    }
                }

            }

            & form{
                width: 50%;
                padding: 0% 10% 0% 0%;
                display: flex;
                flex-direction: column;

                & input{
                    width: 310px;
                    height: 40px;
                    margin-top: 20px;
                    border: none;
                    border-bottom: 1px solid #2C4058;

                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 27px;
                }

                & button{
                    align-self: flex-end;
                    margin-top: 20px;
                    width: 140px;
                    height: 50px;
                    border: 1px solid #2C4058;
                    background-color: transparent; 
                    
                    font-size: 14px;
                    line-height: 17px;
                    color: #000000;
                }
            
                & button:hover{
                    cursor: pointer;
                    background-color: #5e75926f;
                    border: 1px solid #2C4058;
                    color: #2C4058;
                }
            }
        }

    }

    &__socials{
        width: 100%;
        height: 525px;
        background-image: linear-gradient(to right top, #55B7FF 16.9%, #7E5AFF 83.27%), url("./assets/imgs/backgroundimageOne.png");
        display: flex;
        justify-content: center;
        align-items: center;

        &_conteiner{
            width: 700px;
            display: flex;
            justify-content: space-between;

            & .footer_logo{
                & p{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #FFFFFF;
                }
            }

            & .socials{
                width: 20%;
                margin-top: 20px;
                margin-right: -30px;
                display: flex;
                justify-content: space-between;
    
                & img:hover{
                    background-color: #9377f8c0;
                    border-radius: 50%;
                }
            }
        }
    }

}