.page{
    margin-top: 15% auto auto auto ;
    text-align: center;
    font-family: serif;
    overflow-y: hidden;
}

.button{
    background-color: rgb(33, 144, 33);
    color: white;
    height: 25px;
    width: 225px ;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.651)
}
.page__form{
    height: 200px;
    width: 300px;
    background-color: rgba(128, 128, 128, 0.142);
    border: 1px solid rgba(128, 128, 128, 0.158);
    border-radius: 5px;
    display: inline-block;
}
.page__input{
    height: 25px;
    width: 255px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.651)
}
.unordered{
    list-style: none;
}

.list{
    display: inline-block;
}
.link_to_create_an_account{
    width: 300px;
    background-color: rgba(128, 128, 128, 0.142);
    border: 1px solid rgba(128, 128, 128, 0.158);
    display: block;
    margin: 20px;
    display: inline-block;
    text-align: center;
}
.links{
    color: rgba(0, 0, 255, 0.719);
}
