body {
  margin: 0%;
}

.site {
  width: 93vw;
  height: 88vh;
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(2, 2, 52);
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.site li:hover, .site button:hover {
  cursor: pointer;
  opacity: 0.9;
}
.site__navigation {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.site__navigation__box {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site__navigation__box ul {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.site__navigation__box div {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.site__navigation__box div > button {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background-color: transparent;
  border: none;
  color: #ffffff;
}
.site__navigation__box div > button:last-child {
  width: 150px;
  height: 50px;
  border: 2px solid #22A75D;
  border-radius: 30px;
}
.site__main__first-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
}
.site__main__first-part > h2 {
  width: 30%;
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: -0.02em;
}
.site__main__first-part__supply {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: -0.02em;
}
.site__main__first-part__supply > span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 80px;
  line-height: 80px;
  color: #FFD100;
}
.site__main__first-part__supply > p:last-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.site__main__second-part {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.site__main__second-part__premined {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.02em;
}
.site__main__second-part__premined > span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 30px;
  line-height: 15px;
  color: #2278D4;
}
.site__main__second-part__premined > p:last-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.site__main__second-part > div:nth-child(2) {
  width: 60%;
}
.site__main__second-part__daily {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.02em;
}
.site__main__second-part__daily > span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 30px;
  line-height: 15px;
  color: #E20613;
}
.site__main__second-part__daily > p:last-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/*
@media only screen and(max-width: 400px) {
    .site{
        padding: 4%;

        &__main{
          flex-direction: column;

            & > h2{
                width: 70%;
                height: 15%;
            }

            &__supply{
                ;
            }

        }
    }
}
*/