body{
    margin: 0%;
}

.site{
    width: 89vw;
    padding: 5%;
    display: flex;
    background-color: #161f3d;
    color: white;
    flex-direction: column;

    &__navigation{
        display: flex;
        justify-content: space-around;
    }

    &__main__first-part{
        display: flex;
        height: 50%;

        & > h2{
            width: 30%;
            font-family: 'Century Gothic';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 42px;
            letter-spacing: -0.02em;
        }

        &__supply{
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: flex-start ;
            align-self: flex-end;
            font-family: 'Century Gothic';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 35px;
            letter-spacing: -0.02em;
           
            & > span{
               align-self: center;
               font-size: 80px;
               line-height: 80px;
               color: #FFD100;
            }

            & > p:last-child{
                align-self: flex-end;
            }
        }    
    }


    &__main__second-part{
        height: 40%;
        display: flex;
        justify-content: flex-start;

        &__premined{
            width: 20%;
            display: flex;
            flex-direction: column;
            font-family: 'Century Gothic';
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: -0.02em;

            & > span{
                align-self: center;
                font-size: 30px;
                line-height: 15px;
                color: #2278D4;
            }

            & > p:last-child{
                align-self: flex-end;
            }

        }

        & > div:nth-child(2) {
            width: 60%;
        }

        &__daily{
            width: 20%;
            display: flex;
            flex-direction: column;
            align-self: center;
            font-family: 'Century Gothic';
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: -0.02em;

            & > span{
                align-self: center;
                font-size: 30px;
                line-height: 15px;
                color: #E20613;
            }

            & > p:last-child{
                align-self: flex-end;
            }
        }
    }
      /* ______________The part of small boxes________________*/
    &__boxes{
        margin-top: 100px;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        gap: 10px;

        font-family: 'Century Gothic';
        font-style: normal;
        font-weight: 700;
       

        &_containers{
            width: 260px;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            background-color:#171b2976;
            backdrop-filter: blur (6px);
            border: none;
            border-radius: 30px;

            &_years{
                width: 40%;
                display: flex;
                justify-content: space-around;

                font-size: 14px;
                line-height: 34px;
            }

            &_info{
                width: 70%;
                align-self: flex-end;

                & h4{
                    font-size: 18px;
                    line-height: 18px;
                }

                & p{
                    font-size: 17px;
                    line-height: 20px;
                    opacity: 0.7;
                }
            }
        }


    }



}

.green{
    color: #22A75D;

    & span {
        height: fit-content;
        box-shadow: 0px 15px 25px rgba(34, 167, 93, 0.25);
    }
}

.yellow{
    color: #FFD100 ;

    & span {
        height: fit-content;
        box-shadow: 0px 15px 25px rgba(255, 209, 0, 0.25);
    }
}

.blue{
   color: #0F87CA;

   & span {
    height: fit-content;
    box-shadow: 0px 15px 25px rgba(15, 135, 202, 0.25);
}
}

.red{
    color: #E20613;

    & span {
        height: fit-content;
        box-shadow: 0px 15px 25px rgba(226, 6, 19, 0.25);
    }
}

/*
@media only screen and(max-width: 400px) {
    .site{
        padding: 4%;

        &__main{
          flex-direction: column;

            & > h2{
                width: 70%;
                height: 15%;
            }

            &__supply{
                ;
            }

        }
    }}
*/