body{
    height: 50%;
    width: 100vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
     overflow-x: hidden;
    margin: auto;
}
h1{
    position: relative;
    top: 90px;
    left: 100px;
    font-size: 50px;
    font-variant: small-caps;
    border-bottom: 2px solid #949697;
    display: inline-block;
    width: 990px;
}
h2{
    position: relative;
    top: 70px;
    left: 100px;
    color: #626363;
}
#me{
    position: relative;
    top: -140px;
    left: 990px;
}

nav{
    list-style: none;
    position: relative;
    left: 100px;
    top: -400px;
    width: 900px;
    height: 120px;
    background-color: #F0C3B4;
    font-size: 20px;
    text-align: center
}
a{
    color: white;
    text-decoration: none;
}
li{
    display: inline-block;
    margin-right: 40px;
}
#profile{
    background-color: #d3c58d;
    position: relative;
    left: 100px;
    top: -300px;
    width: 1300px;
    height: 180px ;
}
#education{
    background-color: #88d7d0;
    position: relative;
    left: 100px;
    top: -300px;
    width: 1300px;
    height: 160px;
}
#lang{
    background-color: #bbb292;
    position: relative;
    left: 100px;
    top: -300px;
    width: 1300px;
    height: 220px;
}
#interests{
    background-color: #d3c58d;
    position: relative;
    left: 100px;
    top: -300px;
    width: 1300px;
    height: 220px;
}
#pets{
    background-color: #88d7d0;
    position: relative;
    left: 100px;
    top: -300px;
    width: 1300px;
    height: 1000px;
}
footer{
    background-color: #bbb292;
    position: relative;
    left: 100px;
    top: -300px;
    width: 1300px;
}
h3{
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}
div{
    text-align: center;
}
img, video{
    border: 10px solid white;
    border-radius: 10px;
}
#animal, summary{
    color: white;
}


