* {
  margin: 0%;
  padding: 0%;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  color: white;
}

.site {
  overflow-x: hidden;
}
.site a:hover, .site button:hover, .site i:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header {
  width: 100vw;
  height: 95vh;
  background-image: url(/Exam/assets/imgs/image1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__main h1 {
  margin-top: 4em;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 26px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.header__main p {
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 6.82px;
}
.header__input {
  width: 650px;
  height: 65px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__input p {
  width: 480px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  color: #999999;
}
.header__input button {
  justify-self: flex-end;
  width: 155px;
  height: 60px;
  border: none;
  background-color: #5474FD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.header__scroll {
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
}
.header__nav {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100vw;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5474FD;
}
.header__nav ul {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.reason {
  width: 100vw;
  height: 100vh;
  background-image: url(/Exam/assets/imgs/Rectangle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.reason__box {
  height: 40%;
  padding: 0% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5em;
}
.reason__box__text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
}
.reason__box__text h2 {
  font-size: 36px;
  line-height: 26px;
}
.reason__box__text p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6px;
}
.reason__box__text button {
  width: 230px;
  height: 65px;
  border: none;
  background-color: #496BFE;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.reason__box__imgs {
  width: 25%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.reason__box__imgs img:first-child {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.reason__box__imgs img:last-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.spain__first-part {
  width: 80vw;
  height: 44vh;
  background-image: url(/Exam/assets/imgs/trirdbackground.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10% 10%;
}
.spain__first-part__box {
  width: 38%;
  height: 290px;
  background: #232323;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
}
.spain__first-part__box p:first-child {
  font-size: 20px;
  line-height: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1.5px;
  color: #E8E8E8;
}
.spain__first-part__box p:last-child {
  font-size: 16px;
  line-height: 26px;
  color: #E8E8E8;
}
.spain__first-part__box h3 {
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}
.spain__first-part__box button {
  width: 230px;
  height: 65px;
  border: none;
  background-color: #496BFE;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.spain__second-part {
  width: 80vw;
  height: 44vh;
  background-image: url(/Exam/assets/imgs/fourthbackground.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10% 10%;
}
.spain__second-part__box {
  width: 38%;
  height: 290px;
  background: #232323;
  opacity: 0.9;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
}
.spain__second-part__box p:first-child {
  font-size: 20px;
  line-height: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1.5px;
  color: #E8E8E8;
}
.spain__second-part__box p:last-child {
  font-size: 16px;
  line-height: 26px;
  color: #E8E8E8;
}
.spain__second-part__box h3 {
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}
.spain__second-part__box button {
  width: 230px;
  height: 65px;
  border: none;
  background-color: #496BFE;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.response {
  width: 100vw;
  height: 80vh;
  background-image: url(/Exam/assets/imgs/fifthbackground.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.response__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.response__box__text {
  width: 50%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0% 3%;
  background-color: #333333;
  font-style: normal;
  font-weight: 400;
}
.response__box__text p {
  font-size: 16px;
  line-height: 26px;
  color: #E8E8E8;
}
.response__box__text p:first-child {
  font-size: 20px;
  color: #FEFEFE;
}
.response__box__text p > span {
  font-size: 36px;
  line-height: 26px;
  color: #5474FD;
}

.footer {
  width: 100vw;
  height: 30vh;
  background-color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
}
.footer p {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 3.36px;
  text-transform: uppercase;
}
.footer p:nth-child(2) {
  font-weight: 400;
  line-height: 35px;
  font-size: 16px;
  letter-spacing: 1.6px;
}
.footer div > i {
  font-weight: 400;
  font-size: 26px;
  margin-right: 20px;
  color: #E8E8E8;
}
.footer div > i:nth-child(3) {
  color: #5474FD;
}