body{
    margin: 0%;
    overflow-x: hidden;
}

.squid-game{ 
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url(./imgs/background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65vh;
    
}

.squid-game__nav{
   height: 120px;
   padding-top: 20px;
   padding-left: 10%;
   padding-right: 10%;
   display: grid;
   grid-template-columns: 20% 30% 10%;
   grid-column-gap: 20%;
   align-items: center;
   justify-content: center;
}

.squid-game__nav img:first-child{
    margin-top: 30px;
    align-self: flex-start;
}

.squid-game__nav img:last-child{
    justify-self:end ;
}

.squid-game__main{
    display: grid;
    padding: 0px 5%;
    grid-template-columns: 35% 20%;
    grid-column-gap: 40%;
}

.main__left{
    height: 800px;
    display: grid;
    grid-template-rows: repeat(4,25%);
    grid-template-columns: 10% 90%;
    
}

.main__left h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 400%;
    line-height: 56px;
    background: linear-gradient(265.95deg, #FFFFFF -15.55%, #E93E7D 123.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    grid-row-start: 2;
    grid-column-start: 2;
    align-self: flex-end;
}

.main__left p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 200%;
    line-height: 40px;
    color: #FFFFFF;
    grid-row-start: 3;
    grid-column-start: 2;
}

.main__left-small-imgs{
    display: grid;
    grid-row-start: 3;
    grid-column-start: 1;
    justify-content: center;
    align-items: center;
}

.main__left-small-imgs img:last-child{
    align-self: flex-start;
}

.img__left-doll img{
    position: absolute;
    width: 132px;
    height: 132px;
    left: 33%;
    top: 34%;}

.img__left-doll img:last-child{
    width: 100px;
    height: 99.33px;
    left: 34%;
    top: 35%;
}

.img__left-mask{
    position: absolute;
    width: 104px;
    height: 104px;
    left: 28%;
    top: 65%;
    padding: 9px 9px 0px 9px;
    border: 6px solid #E93E7D;
}

.main__right{
    display: grid;
    grid-column-start: 2;
    grid-template-rows: repeat(4, 25%);
}

.main__right img:first-child{
    width: 330px;
    grid-row-start: 2;
}

.main__right img:nth-child(2){
    width: 200px;
    grid-row-start: 4;
    justify-self: center;
    z-index: 1;
}

.main__right img:nth-child(3){
    position: absolute;
    width: 380px;
    top: 520px;
    left: 1650px;
    z-index: 0;
}

.main__right img:nth-child(4){
    width: 200px;
    position: absolute;
    top: 70%;
    left: 60%;
}
